# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
dashboard_api/dashboard_api/settings.py
dashboard_loader/dashboard_loader/settings.py
dashboard_api/dashboard_api/settings_*.py
dashboard_loader/dashboard_loader/settings_*.py
dashboard_api/dashboard_api/wsgi_*.py
dashboard_loader/dashboard_loader/wsgi_*.py
dashboard_loader/static/**
dashboard_api/geo_cache/**
*~*#
*.pyc
*.pyo
*.swp
