{% load dashboard_tags %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% if title %}
        <title>{{ title }}</title>
    {% endif %}
    <link href="{% settings STATIC_URL %}css/db.css" rel="stylesheet" type="text/css" />
    {% block extrahead %}{% endblock %}
</head>
<body {% block extrabody %}{% endblock %}>
    <div id="user">
{% if not user.is_anonymous %}
  Logged in as {{ user.username }}
{% else %}
  Not Logged in
{% endif %}
    </div>
<div id="maincontent">
    {% block content %}{% endblock %}
</div>
</body>
</html>
