{% extends "base.html" %}
{% block content %}
<h1>Uploader: {{ uploader.app }}</h1>
<p>{% if uploader.last_uploaded %}
Last Uploaded: {{ uploader.last_uploaded|date:"d/m/Y h:t:sa" }}
{% else %}<i>Never uploaded</i>{% endif %}
</p>
{% if messages %}
<ul>
    {% for msg in messages %}
        <li>{{ msg }}</li>
    {% endfor %}
</ul>
{% endif %}
<form action="{% url "upload_data" uploader_app=uploader.app %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table border="0">
        {% for field in form %}
            <tr>
                <td><b>{{ field.label_tag }}</b></td>
                <td>{{ field }}</td>
                <td>{{ field.errors }}</td>
            </tr>
        {% endfor %}
    </table>
    <input name="submit" type="submit" value="Upload" class="button"/>
</form>
<p><a href="{% url "list_widget_data" %}">Back to list of widgets and uploaders</a></p>
{% endblock %}
